node-red code/flows-2.json
[
    {
        "id": "41ca891f81751ee4",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a90266d3bba354e7",
        "type": "function",
        "z": "41ca891f81751ee4",
        "name": "",
        "func": "\nd =new Date(); \n\nmsg.information = msg.payload; \nmsg.humidity = msg.payload.substr(10,6) ; \nmsg.temperature = msg.payload.substr(31,6);\nmsg.gas = msg.payload.substr(48,6); \n\nmsg.topic = \"insert into sensor values('\"+msg.humidity+\"' ,'\"+msg.temperature+\"','\"+msg.gas+\"','\"+d.toLocaleTimeString()+\"');\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "ac39bbd1f0a2cdcb",
                "4d45ece2cad52626",
                "a416243776d052ff",
                "f269e6883fc7da44"
            ]
        ]
    },
    {
        "id": "0fea7ead6f240adb",
        "type": "serial in",
        "z": "41ca891f81751ee4",
        "name": "",
        "serial": "1e837e7fac83ea7f",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "a90266d3bba354e7"
            ]
        ]
    },
    {
        "id": "bac94c0d482ec2ef",
        "type": "serial in",
        "z": "41ca891f81751ee4",
        "name": "",
        "serial": "9829a4c8896d28be",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "04e2a9cdb6e6962d",
                "fda2f8de1220fdd1"
            ]
        ]
    },
    {
        "id": "135f2a39c2915195",
        "type": "debug",
        "z": "41ca891f81751ee4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "9044f8762481c729",
        "type": "inject",
        "z": "41ca891f81751ee4",
        "name": "select * from sensor ;",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from sensor; ",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "546ee62454b2cf9a"
            ]
        ]
    },
    {
        "id": "546ee62454b2cf9a",
        "type": "mysql",
        "z": "41ca891f81751ee4",
        "mydb": "1d83b8c2a5775e16",
        "name": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "135f2a39c2915195"
            ]
        ]
    },
    {
        "id": "ac39bbd1f0a2cdcb",
        "type": "mysql",
        "z": "41ca891f81751ee4",
        "mydb": "1d83b8c2a5775e16",
        "name": "",
        "x": 850,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "04e2a9cdb6e6962d",
        "type": "function",
        "z": "41ca891f81751ee4",
        "name": "",
        "func": "\nd =new Date(); \n\nmsg.pm10 = msg.payload.substr(7,2); \nmsg.pm25= msg.payload.substr(13,2) ;\nmsg.pm100 = msg.payload.substr(28,2) ; \n\nmsg.topic = \"insert into particles values('\"+msg.pm10+\"' ,'\"+msg.pm25+\"','\"+msg.pm100+\"','\"+d.toLocaleTimeString()+\"');\" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "ac39bbd1f0a2cdcb",
                "3b7e9336c83cc52f",
                "41f690cde219761d",
                "a7acecf0088dc97f"
            ]
        ]
    },
    {
        "id": "fda2f8de1220fdd1",
        "type": "debug",
        "z": "41ca891f81751ee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "4d45ece2cad52626",
        "type": "ui_gauge",
        "z": "41ca891f81751ee4",
        "name": "",
        "group": "94ea335810050865",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{msg.humidity}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "a416243776d052ff",
        "type": "ui_gauge",
        "z": "41ca891f81751ee4",
        "name": "",
        "group": "94ea335810050865",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{msg.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "f269e6883fc7da44",
        "type": "ui_gauge",
        "z": "41ca891f81751ee4",
        "name": "",
        "group": "d9bc9de55159de2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LPG",
        "label": "units",
        "format": "{{msg.gas}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "3b7e9336c83cc52f",
        "type": "ui_gauge",
        "z": "41ca891f81751ee4",
        "name": "",
        "group": "d43ed9375107528b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM 1 ",
        "label": "units",
        "format": "{{msg.pm10}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "41f690cde219761d",
        "type": "ui_gauge",
        "z": "41ca891f81751ee4",
        "name": "",
        "group": "d43ed9375107528b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM 2.5",
        "label": "units",
        "format": "{{msg.pm25}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 700,
        "wires": []
    },
    {
        "id": "a7acecf0088dc97f",
        "type": "ui_gauge",
        "z": "41ca891f81751ee4",
        "name": "",
        "group": "d43ed9375107528b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PM 10",
        "label": "units",
        "format": "{{msg.pm100}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "1e837e7fac83ea7f",
        "type": "serial-port",
        "serialport": "/dev/tty.usbmodem112201",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "9829a4c8896d28be",
        "type": "serial-port",
        "serialport": "/dev/tty.usbmodem112301",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1d83b8c2a5775e16",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "arduino285",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "94ea335810050865",
        "type": "ui_group",
        "name": "Temp&Humidity",
        "tab": "93b83a33.771108",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9bc9de55159de2a",
        "type": "ui_group",
        "name": "GAS",
        "tab": "93b83a33.771108",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d43ed9375107528b",
        "type": "ui_group",
        "name": "Particles",
        "tab": "93b83a33.771108",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93b83a33.771108",
        "type": "ui_tab",
        "z": "41ca891f81751ee4",
        "name": "Home",
        "icon": "dashboard"
    }
]